#logo{
    margin-left: 30px;
    margin-top: 20px;
}
.black{
    height: 550px;
    width: 500px;
    border-radius: 50px;
    background: rgba(0, 0, 0, 0.8);
    margin: auto;
    color: white;
}
.sign{
    color: white;
    margin-bottom: 50%;
}
.nf{
    height:50px;
    width:200px;
text-align:left;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
background-color: rgba(1, 0, 0, 0.5);
}
#mb{
    width: 300px;
    height: 50px;
    background: rgba(54, 48, 48, 0.1);
    border: 1px solid rgba(249, 241, 241, 0.91);
    border-radius:5px;
    color: white;
    margin-left: 70px;
    margin-bottom: 20px;
    font-size:medium;
}
#ps{
    width: 300px;
    height: 50px;
    background: rgba(54, 48, 48, 0.1);
    border: 1px solid rgba(249, 241, 241, 0.91);
    border-radius:5px;
    color: white;
    margin-left: 70px;
    margin-bottom: 10px;
    font-size: medium;
}
#btn{
    width: 308px;
    height: 50px;
    background: red;
    color: white;
    border-radius: 7px;
    margin-left: 70px;
    margin-bottom: 20px;
    font-size: medium;
}
#btn:hover{
    background: rgb(164, 33, 33);
}
#btn1:hover{
    background: rgba(97, 95, 95, 0.5);
}

#btn1{
    width: 300px;
    height: 40px;
    background: rgba(58,60,60,0.5);
    color: white;
    border-radius: 5px;
    margin-left: 70px;
    margin-bottom: 20px;
    font-size: medium;
}

#btn2{
    color: white;
    margin-left: 170px;
    margin-bottom: 20px;
    font-size: medium;  

}
a{
    text-decoration: none;
}

p{
    color: white;
    padding-bottom: -25px;
    margin-top: -15px;
}

#btn3{
    color: white;
    padding-top: -500px;;
    margin-bottom: -500px;
    font-size: medium;  
}
#link{
    color:blue;
}

form{
    margin: 25px;
    
}
:placeholder-shown{
    color: white;
}